<div class="container-fluid jumbotron">
    <div class="row">
        <div class="col-sm-12">
<p class="info-text-large">Florida this day of ,
To the Master, Wardens, and Members of Lodge No. , F. & A.M.:</p> 

<form [formGroup]="frmPetition">
  <mat-form-field>
    <input matInput
    name="cityLodge"
    formControlName="cityLodge"
    placeholder="City"
    #cityLodge>
  </mat-form-field>
  <span class="info-text-large">, Florida, this </span> 
  <mat-form-field>
      <mat-label>Day</mat-label>
      <mat-select formControlName="day">
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <span class="info-text-large"> day of</span> 
  <mat-form-field>
      <mat-label>Month</mat-label>
      <mat-select formControlName="month">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <br>
<p class="info-text-large">Having conceived a favorable opinion of the Ancient and Honorable Fraternity of Free and Accepted Masons, and a sincere desire of
    being serviceable to my fellow creatures, unbiased by friends, and uninfluenced by mercenary motives, I do freely and voluntarily offer
    myself as a candidate for initiation into the mysteries of your time-honored institution, and if elected, will cheerfully conform to all the
    ancient and established usages and customs of the Fraternity, which I understand are based on the highest principles and moral precepts
    and incorporate no unseemly conduct. </p>
    <p class="info-text-large"><strong>(The Petitioner will answer each of the following questions fully - print or type, except signature:)</strong></p>
  <p></p>
  <br>
    <p class="info-text-large">Do you believe in the existence of one ever-living and true God?</p>
  <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="month">
          <mat-option value="Y">Yes</mat-option>
          <mat-option value="N">No</mat-option>
        </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="field-width">
      <mat-label>What is your first name?</mat-label>
      <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
<br>
  <mat-form-field class="field-width">
      <mat-label>What is your last name?</mat-label>
      <input matInput placeholder="Last name" formControlName="lastName">
  </mat-form-field>
<p></p>
  <p class="info-text-large"><strong>Where do you reside?</strong></p>
  <p class="info-text">Indicate Post Office Box or Mailing Address if other than your residence.</p>

  <mat-form-field class="field-width">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" formControlName="address1">
  </mat-form-field>
<br>
<mat-form-field class="field-width">
    <mat-label>City</mat-label>
    <input matInput placeholder="city" formControlName="city">
</mat-form-field>
<br>
<mat-form-field class="field-width">
    <mat-label>Post code/Zip</mat-label>
    <input matInput placeholder="zip / post code" formControlName="zip">
</mat-form-field>
<br>

<mat-form-field class="field-width">
    <mat-label>Phone</mat-label>
    <mat-icon matSuffix>phone</mat-icon>
    <input matInput type="tel" placeholder="phone" formControlName="phone">
</mat-form-field>
<br>
<mat-form-field class="field-width">
    <mat-label>Email</mat-label>
    <input matInput type="text" placeholder="email" formControlName="email">
</mat-form-field>
<br>

<mat-form-field>
    <mat-label>Resided</mat-label>
    <mat-select formControlName="resided">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
</mat-form-field>
<br>

<p></p>
<br>
  <button mat-flat-button color="primary" 
          type="submit"
          (click)="save(frmPetition)">Save</button>

      </form>
    </div>
  </div>
</div>