Florida this day of ,
To the Master, Wardens, and Members of Lodge No. , F. & A.M.: 

<form [formGroup]="frmPetition">
  <mat-form-field>
    <input matInput
    name="cityLodge"
    formControlName="cityLodge"
    placeholder="City"
    #cityLodge
    >
  </mat-form-field>
    , Florida, this 
  <mat-form-field>
      <mat-label>Day</mat-label>
      <mat-select formControlName="day">
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
  </mat-form-field>
  day of 
  <mat-form-field>
      <mat-label>Month</mat-label>
      <mat-select formControlName="month">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
  </mat-form-field>
  ,
  <mat-form-field>
   <input matInput 
          name="year" 
          value="2019" 
          formControlName="year"
          #year>
  </mat-form-field>

  <br>
  <button mat-flat-button color="primary" 
          type="submit"
          (click)="save(frmPetition)">Primary</button>

</form>