<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Dashboard</a>
      <a mat-list-item href="/profile">User Profile</a>
      <a mat-list-item href="#">Mailbox</a>
      <a mat-list-item href="#">Lodge Profile</a>
      <a mat-list-item href="#">Masonic Network</a>
      <a mat-list-item href="#">Business Network</a>
      <a mat-list-item href="#">Education</a>
      <a mat-list-item href="#">Advertise with us</a>
      <a mat-list-item href="#">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a (click)="drawer.toggle(); toggle_menu();" id="nav-toggle">
          <i class="material-icons">{{ btn_toggle_text }}</i>
        </a>
      <div>mason</div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
