<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
          <i class="material-icons">
              dashboard
              </i>
          Dashboard
      </a>

      <a mat-list-item href="/profile">
        <i class="material-icons">account_box</i>User Profile </a>
      
        <a mat-list-item href="#">
            <i class="material-icons">
                mail_outline
            </i>
            Mailbox
        </a>

      <a mat-list-item href="/lodge-profile">
        <i class="material-icons">
            domain
        </i>Lodge Profile
      </a>
      <a mat-list-item href="/petition">
        <i class="material-icons">
            perm_contact_calendar
          </i>
          Start a Petition
        </a>
      <a mat-list-item href="#">
          <i class="material-icons">
              gradient
          </i>
          Masonic Network
        </a>
      
      <a mat-list-item href="#">
          <i class="material-icons">
              leak_add
          </i>
          Business Network
      </a>
      
      <a mat-list-item href="#">
          <i class="material-icons">
              school
          </i>
          Education
      </a>
      <a mat-list-item href="#">
          <i class="material-icons">
              store_mall_directory
          </i>
          Advertise with us
      </a>
      
      <a mat-list-item href="#">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a (click)="drawer.toggle(); toggle_menu();" id="nav-toggle">
          <i class="material-icons">{{ btn_toggle_text }}</i>
        </a>
      <div>mason</div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<div id="menu"></div>