<h4 class="text-center">FACTS CONCERNING FREEMASONRY</h4>
<h5 class="text-center">PETITIONER MUST READ THE FOLLOWING</h5>
<div class="jumbotron">
<p>Having expressed a desire to become a Freemason, we presume you are willing to consider thoroughly the step you propose to take. The exact
  nature of our Institution being unknown to you, we deem it advisable that you should be informed on certain points, the knowledge of which may
  affect your decision to apply for membership.</p>
<p>
  Freemasonry interferes neither with religion nor politics, but has for its foundation the great basic principles of The Fatherhood of God and the
  Brotherhood of Man. No atheist can be a Freemason. Freemasonry strives to teach a man the duty he owes to God, his neighbor, and himself. It
  includes the practice of virtue, and makes an extensive use of Symbolism in its teachings.
</p>
<p>
  It cannot be too strongly emphasized that Freemasonry is not to be entered in the hope of personal gain or advancement. Admission thereto must
not be sought from mercenary or other unworthy motives. The aim of the true Freemason is to cultivate a brotherly feeling among men, and to
help whomsoever he can. 
</p>
<p>Freemasonry is not a Benefit Society. This fact cannot be too strongly emphasized. We do not subscribe so much a year to entitle us to draw sick
  pay or other benefits, or to make provisions for those who survive us. However, each Mason is expected to provide for the future of his family.
  No man should enter the ranks of Freemasonry in hope or expectation that he will derive any financial benefit from it; Masonic Charity is
  directed towards those who, from unforeseen circumstances and through no fault of their own, have met with misfortune. To be eligible for
  resident, non-resident, or other relief programs a Florida Mason must have been a member in good standing of a Florida Lodge for not less than
  10 years, the last 3 years whereof must have been continuous at the time application is made and he would not be eligible for such relief if he had
  already attained the age of 70 years at the time he became a Florida Mason. 
</p>
<p>Loyalty to one’s country is an essential qualification in Freemasonry, and only those are acceptable who cheerfully render obedience to every
  lawful authority. Disloyalty in any form is abhorrent to a Freemason, and is regarded as a serious Masonic offense.
</p>
<p>
  Freemasonry has in all ages insisted that men should come to its doors entirely of their own free will, and not as a result of solicitations, or from
feelings of curiosity, but simply from a favorable opinion of the Institution, and a desire to be ranked among its members
</p>
<p>
  We have no authority at present to give you further information regarding the Fraternity you propose to join, but we have imparted sufficient
  information to enable you to conclude that Freemasonry is not contrary to the principles which mark a man of upright heart and mind, and has in
  it nothing inconsistent with one’s civil, moral, or religious duties.
</p>
<p>
  We think it advisable to inform you that your admission to our Craft will entail certain financial obligations which you should be able to
discharge without detriment to yourself or those dependent on you. In addition to the fees payable on your entrance, there will be annual dues for
the support of your Lodge.
</p>
<p>
 Before presenting this petition, be sure in your heart that you are not prompted by mere curiosity, the desire for commercial gain or social
prestige. For such motives Freemasonry has no reward. 
</p>
</div>