<div class="container-fluid jumbotron">
  <div class="row">
    <div class="col-sm-12"><p class="display-4">Profile</p></div>
    <div class="col-sm-6">
      <mat-form-field class="w-100 pr-2">
        <input matInput placeholder="First name" value="{{ default_value }}" class="full-width-field">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Middle name" value="{{ default_value }}">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Last name" value="{{ default_value }}">
        </mat-form-field>
    </div>
    <div class="col-sm-12 text-right">
      <button mat-flat-button color="primary" class="m-2 btn">Reset</button> 
      <button mat-flat-button color="primary" (click)="save()" class="m-2 btn">Save</button>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <form [formGroup]="angForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Product Name</label>
            <input type="text" class="form-control" 
              formControlName="ProductName" 
              #ProductName />
          </div>
          <div *ngIf="angForm.controls['ProductName'].invalid && (angForm.controls['ProductName'].dirty || angForm.controls['ProductName'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['ProductName'].errors.required">
              Product Name is required.
            </div>
          </div>
          <div class="form-group">
            <button (click)="save(ProductName.value)" type="submit" class="btn btn-primary"
            [disabled]="angForm.pristine || angForm.invalid" >
              Create Product
            </button>
          </div>
        </form>
      </div>
    </div>