<form [formGroup]="angForm" novalidate>

<div class="container-fluid jumbotron">
  <div class="row">
    <div class="col-sm-12"><p class="font-light">Profile</p></div>
    <div class="col-sm-6">
      <mat-form-field class="w-100 pr-2">
        <input matInput placeholder="First name" value="{{ default_value }}" class="full-width-field" 
        formControlName="first_name" 
            #first_name>
      </mat-form-field>
        <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['first_name'].errors.required">
            First name is required.
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Middle name" value="{{ default_value }}" class="full-width-field"
            formControlName="middle_name"
            #middle_name>
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Last name" value="{{ default_value }}" class="full-width-field" 
            formControlName="last_name" 
                #last_name>
        </mat-form-field>
        <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['last_name'].errors.required">
              Last name is required.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Email" value="{{ default_value }}" class="full-width-field" 
            formControlName="email" 
                #email>
        </mat-form-field>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Phone" value="{{ default_value }}" class="full-width-field" 
            formControlName="phone" 
                #phone>
        </mat-form-field>
    </div>

    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="EA Date Initiation"
              (dateInput)="addEvent('input', $event)"
              formControlName="ea_date"
              #ea_date>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput [matDatepicker]="fc_picker" placeholder="FC Date Initiation"
              (dateInput)="addEvent('input', $event)"
              formControlName="fc_date"
              #fc_date>
        <mat-datepicker-toggle matSuffix [for]="fc_picker"></mat-datepicker-toggle>
        <mat-datepicker #fc_picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
          <input matInput [matDatepicker]="mm_picker" placeholder="MM Date Initiation"
                (dateInput)="addEvent('input', $event)"
                formControlName="mm_date"
                #mm_date>
          <mat-datepicker-toggle matSuffix [for]="mm_picker"></mat-datepicker-toggle>
          <mat-datepicker #mm_picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-6 pt-4">
      <p class="sub-title">Lodge positions currently held</p>
        <mat-form-field>
            <mat-label>Lodge Positions</mat-label>
            <mat-select [formControl]="lodgePositions" multiple>
             <mat-option *ngFor="let position of lodgePositionList" [value]="position">{{position}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-sm-12 text-right">
      <button mat-flat-button color="primary" class="m-2 btn">Reset</button>
      <button mat-flat-button color="primary" (click)="save(angForm.value)" class="m-2 btn">Save</button>  
    </div>
  </div>
  </div>
</form>