<form [formGroup]="angForm" (ngSubmit)="save()">

<div class="container-fluid jumbotron">
  <div class="row">
    <div class="col-sm-12"><p class="font-light">Profile</p></div>
    <div class="col-sm-6">
      <mat-form-field class="w-100 pr-2">
        <input matInput placeholder="First name" value="{{ default_value }}" class="full-width-field" 
        formControlName="first_name" 
            #first_name>
      </mat-form-field>
        <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['first_name'].errors.required">
            First name is required.
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Middle name" value="{{ default_value }}" class="full-width-field"
            formControlName="middle_name"
            #middle_name>
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Last name" value="{{ default_value }}" class="full-width-field" 
            formControlName="last_name" 
                #last_name>
        </mat-form-field>
        <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['last_name'].errors.required">
              Last name is required.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Email" value="{{ default_value }}" class="full-width-field" 
            formControlName="email" 
                #email>
        </mat-form-field>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-form-field class="w-100 pr-2">
            <input matInput placeholder="Phone" value="{{ default_value }}" class="full-width-field" 
            formControlName="phone" 
                #phone>
        </mat-form-field>
    </div>

    <div class="col-sm-6">
        
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="EA Date Initiation"
              (dateInput)="addEvent('input', $event)"
              formControlName="ea_date"
              #ea_date>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput [matDatepicker]="fc_picker" placeholder="FC Date Initiation"
              (dateInput)="addEvent('input', $event)"
              formControlName="fc_date"
              #fc_date>
        <mat-datepicker-toggle matSuffix [for]="fc_picker"></mat-datepicker-toggle>
        <mat-datepicker #fc_picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
          <input matInput [matDatepicker]="mm_picker" placeholder="MM Date Initiation"
                (dateInput)="addEvent('input', $event)"
                formControlName="mm_date"
                #mm_date>
          <mat-datepicker-toggle matSuffix [for]="mm_picker"></mat-datepicker-toggle>
          <mat-datepicker #mm_picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="pt-5"></div>
    <div class="col-sm-4 pt-5">
        <p class="sub-title">Lodge roles</p>
        <mat-form-field>
            <mat-label>Lodge Positions</mat-label>
            <mat-select [formControl]="lodgePositions" [(value)]="selectedLodgePositions" multiple>
             <mat-option *ngFor="let position of lodgePositionList" [value]="position" 
             (click)="showValue($event.value)">{{position}}
             </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="info-text">{{ selectedLodgePositions }}</p>
          
    </div>
    <div class="col-sm-4 pt-5">
        <p class="sub-title">Current officer role</p>
        <mat-form-field>
            <mat-label>Officer Roles</mat-label>
            <mat-select formControlName="officer_role">
              <mat-option *ngFor="let role of officerRoleList" [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="col-sm-12 pt-5">
        <p class="sub-title">Degree work proficiency</p>
    </div>
    <div class="col-sm-4 pt-3">
        <mat-label class="info-text">EA, FC, & MM Degree</mat-label><br>
        <mat-form-field>
            <mat-label>1st Part</mat-label>
            <mat-select [formControl]="degree_proficiency_1" [(value)]="selectedProficiencyRoles1" multiple>
             <mat-option *ngFor="let pro of degreeProficiencyListPart1" [value]="pro" 
             (click)="showValue($event.value)">{{pro}}
             </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="info-text">{{ selectedProficiencyRoles1 }}</p>
    </div>

    <div class="col-sm-4 pt-3">
        <mat-label class="info-text">EA, FC, & MM Degree</mat-label><br>
        <mat-form-field>
            <mat-label>2nd Part</mat-label>
            <mat-select [formControl]="degree_proficiency_2" [(value)]="selectedProficiencyRoles2" multiple>
             <mat-option *ngFor="let pro of degreeProficiencyListPart2" [value]="pro" 
             (click)="showValue($event.value)">{{pro}}
             </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="info-text">{{ selectedProficiencyRoles2 }}</p>
    </div>

    <div class="col-sm-12 pt-5">
        <p class="sub-title">Lodge Membership</p>
    </div>

    <div class="col-sm-4 pt-3">
        <mat-label class="info-text">Select your affiliated lodges</mat-label><br>
        <mat-form-field>
            <mat-label>Lodge Membership</mat-label>
            <mat-select [formControl]="lodgeMembership" [(value)]="selectedLodgeMembership" multiple>
             <mat-option *ngFor="let lodge of lodgeMembershipList" [value]="lodge" 
             (click)="showValue($event.value)">{{lodge}}
             </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="info-text">{{ selectedLodgeMembership }}</p>
    </div>

    <div class="col-sm-12 text-right">
      <button mat-flat-button color="primary" class="m-2 btn">Reset</button>
      <button mat-flat-button color="primary"  class="m-2 btn" (click)="save(first_name, 'Saved')">Save</button>  
    </div>
  </div>
  </div>
</form>