/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//nav
.material-icons {
    font-size: 4rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
      background-color: lightgreen !important;
    }

    //nav
    #nav-toggle {
        visibility: hidden !important;
    }
  }
