/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

//text constants
$input-text-color: #666;

//button constants
$btn-outline: #666;

//nav
.material-icons {
    font-size: 4rem;
    cursor: pointer;
}

.mat-form-field-infix {
    font-size: 1.2rem;
    color: $input-text-color;
}

//buttons
.btn {
    border: 1px solid #666 !important;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid black;
}

/* media queries */
$breakpoint: 960px;
@media screen and (max-width: $breakpoint) {

    //nav
    #nav-toggle {
        visibility: hidden !important;
    }
  }

  //typography
  .sub-title {
      font-size: 2rem;
      color: #777;
      font-weight: lighter;
  }

  
  .font-light {
    font-size: 3.5rem;
    color: #777;
    font-weight: lighter;
  }

  .info-text {
    color: #777;
    font-weight: lighter;
  }
